.about {
  background-color: #0a2850;
  display: flex;
  justify-content: space-between;
  padding: 119px 80px 173px;
  position: relative;
  overflow: hidden;
}

.about__title {
  max-width: 251px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  color: white;
  z-index: 5;
}

.about__content {
}

.about__paragraph {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  max-width: 660px;
  margin: 0 0 20px;
}

.about__circle {
  border: 1px solid black;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  background-color: #2f80ed;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.25);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
