.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__social-heading:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__social-link {
  color: white;
  transition: color 0.5s;
  display: flex;
  text-decoration: none;
  gap: 10px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__copyright {
  margin-top: 108px 0 0;
}

.footer__copyright:last-of-type {
  margin-bottom: 0;
}

.footer__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.footer__list:last-of-type {
  margin-top: o;
  margin-bottom: 0;
}

.footer__list-item {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}
