.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin: 0 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
  color: white;
}

.recipes__videos {
  margin: 80px 0 0 0;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__span-video-caption {
  margin: 24px 0 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
